h1{
  background: rgb(255,80,80);
  /* border-color:blue;
  border-width: 5px;
  border-style: solid; */

  /* border:5px solid blue; */

  border:2px dashed blue;
}

body{
  background: green;
}

body{
  background: url(https://img.freepik.com/free-vector/underwater-background-water-surface-ocean-sea_33099-1755.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
