 /* .container{
  display: flex;

  flex-flow:row wrap;
}

.box{
  border:1px solid blue;
  padding: 10px;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
} */

.flexContainer{
  background-color: orange;
  height:200px;
  display:flex;
  /* align-items: center;
  justify-content: space-evenly;*/
  flex-wrap: wrap;
  align-content: stretch;
}

.item{
  width: 50px;
    height:50px;
  background-color: pink;
  border:1px solid blue;
  flex-basis: 30%;
  flex-shrink: 0;

}

/* .item1{
  height: 50px;
  align-self: center;
}

.item2{
  height: 75px;
  align-self:flex-end;
}

.item3{
  height: 150px;
  align-self: stretch;
} */
